recursive-include  qxf2_newsletter_app/newsletter_automation/ *
recursive-include  qxf2_newsletter_app/newsletter_automation/conf *
recursive-include  qxf2_newsletter_app/newsletter_automation/helpers *
recursive-include  qxf2_newsletter_app/newsletter_automation/newsletter *
recursive-include  qxf2_newsletter_app/newsletter_automation/newsletter/templates *
exclude qxf2_newsletter_app/newsletter_automation/LICENSE
exclude qxf2_newsletter_app/newsletter_automation/requirements.txt
global-exclude *.py[cod]

