recursive-include  newsletter_generation/ *
recursive-include  newsletter_generation/conf *
recursive-include  newsletter_generation/helpers *
recursive-include  newsletter_generation/newsletter *
recursive-include  newsletter_generation/newsletter/templates *
exclude newsletter_generation/LICENSE
exclude newsletter_generation/requirements.txt
global-exclude *.py[cod]

